---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - pods
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - create
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - apps
  resources:
  - statefulsets
  verbs:
  - create
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - tsymbiote.dhouti.dev
  resources:
  - tsymbiotes
  verbs:
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - tsymbiote.dhouti.dev
  resources:
  - tsymbiotes/finalizers
  verbs:
  - update
- apiGroups:
  - tsymbiote.dhouti.dev
  resources:
  - tsymbiotes/status
  verbs:
  - get
  - patch
  - update
